<article>
   <header>
     <h2>
        <a href="/posts/{{id}}">{{title}}</a>
    </h2>
    <h5>
        Posted by {{user.username}} on {{formatDate created_at}}
    </h5>
   </header>
    <p>
        {{content}}
    </p>
</article>